@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #053ea9;
    --color-primary-dark: #001827;
    --color-accent: #0dcaba; /* Ajustado para consistencia con gradiente */
    --color-card: #FFFFFF;
    --color-input: #eaf4fa;
    --color-text: #273d4b;
    --color-placeholder: #5a6f87;
    --color-border: #D4D4ED;
    --color-gradient: linear-gradient(45deg, #a90505, #00A984);
    --color-opacity: rgba(253, 253, 253, 0.596);
    --shadow-light: 0 4px 15px rgba(0, 0, 0, 0.08);
    --shadow-strong: 0 8px 25px rgba(0, 0, 0, 0.12);
}

button , input, select, textarea ,a , p , i  h3 , h4 , h5 , h6 , option ,label , span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.login-card h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Qube", Bold;
    font-size: 3rem;
     color: var(--color-accent);
}

.login-card h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem; 
    margin-bottom: 20px;
    color: #00b4d8;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #001c2c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10vw; /* 10% de cada lado */
}

  
  .login-container {
  display: flex;
  width: 100%;
}

.login-left {
  flex: 1;
  background: linear-gradient(to bottom left, #00b4d8, #00798c, #003f5c);
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-right {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-card {
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.logo {
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 30px;
  color: #00b4d8;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card input {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.login-card .forgot {
  text-align: right;
  font-size: 12px;
  margin-bottom: 20px;
  display: block;
  color: #00b4d8;
  text-decoration: none;
}

.login-card button[type="submit"] {
  background-color: #00b4d8;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-alt {
  margin-top: 20px;
}

.login-alt button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
}

.login-alt .google {
  color: #db4437;
}

.login-alt .apple {
  color: #000;
}
